.header-login{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 183px;
    height: 44px;
    
    background: linear-gradient(50deg, #C89AFC, #7C6AFA);
    border-radius: 50px;
    
}

.btn{
    
}
.header-row{
    display: flex;
    align-items: center;
    justify-content: space-between ;
    font-weight: 400;
    font-size: 16px;
    color: #fff;
    margin-top: 38px;
}
.header-logo{
    width: 40px;
    height: 40px;
}

.header-nav{
    
}

.header-nav ul{
    display: flex;
}
.header-nav li:not(:last-child){
    
    margin-right: 56px;

}
.header-nav a{
    transition: color 0.2s ease;
}
.header-nav a:hover{
    color: #DF5950;
}